<div class="game-container">
  <div>
    <h2>Score: {{gameService.scores}}</h2>
    <button class="start-button" (click)="gameService.resetGame()">Start new game</button>
  </div>
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
    <div class="items">
      <div *ngFor="let item of gameService.items"
        class="item" [ngStyle]="getStyles(item)">
        <div class="item-title">{{item.value}}</div>
      </div>
    </div>
    <div *ngIf="gameService.theEnd" class="overlay">
      <div class="overlay-text">The game is over!</div>
    </div>
  </div>
  <div>
    <h2>The best score: {{gameService.bestScore}}</h2>
  </div>
</div>
