.grid-container {
  display: inline-block;
  background-color: #bbada0;
  padding: 10px;
  position: relative;
}
.grid-row {
  margin-bottom: 6px;
}
.grid-row:last-of-type {
  margin: 0;
}
.grid-cell {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  background-color: rgba(238, 228, 218, 0.35);
}
.grid-cell:last-of-type {
  margin: 0;
}
.item {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 10px;
  left: 10px;
  background-color: brown;
}
.item-title {
  position: absolute;
  font-size: 46px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: azure;
}
@keyframes newItem {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(238, 228, 218, 0.35);
}
.overlay-text {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.start-button {
  display: flex;
  position: absolute;
  top: 3%;
  left: 44%;
  margin: 0 20px;
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(250,172,17);
  border-radius: 7px;
  background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
}
.start-button:hover {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
.start-button:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(177,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}
